<h2> Datos Animal</h2>

<div class="container wrapper">
        <div class="row">
            <!-- Tabla animalitos -->
            <div class="col-md-12">
                <div class="inner">

                    
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre </th>
                                <th scope="col">Peso</th>
                                <th scope="col">Edad</th>  
                                <th scope="col">Descripcion</th>
                                <th scope="col">Especie</th>
                                <th scope="col">Ubicacion</th>
                                <th scope="col">Tipo De Sangre</th>
                                
                            </tr>
                        </thead>
      
                        <tbody>
                            <tr>
                                    <th scope="col">{{animal.id}} </th>
                                    <th scope="col">{{animal.nombre}} </th>
                                    <th scope="col">{{animal.peso}}</th>
                                    <th scope="col">{{animal.edad}}</th>  
                                    <th scope="col">{{animal.descripcion}}</th>
                                    <th scope="col">{{animal.idespecie}}</th>
                                    <th scope="col">{{animal.idubicacion}}</th>
                                    <th scope="col">{{animal.tipoSangre}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
      
        </div>
      </div>