<!--
    <mat-card-header>
      <mat-card-title>{{animal.nombre}}</mat-card-title>
      <mat-card-subtitle>{{animal.edad}} años</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
            <h6>Peso: </h6>
            <p>
                {{animal.peso}} lbs.
            </p>
            <h6>Tipo de Sangre: </h6>
            <p>
                {{animal.tiposangre}}
            </p>
            <h6>Especie: </h6>
      <p>
          {{animal.idespecie}}
      </p>

            <h6>Ubicacion: </h6>
      <p>
          {{animal.idubicacion}}
      </p>

      <h6>Descripcion: </h6>
      <p>
          {{animal.descripcion}}
      </p>
    </mat-card-content>
    -->


    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
  <div class="row">
    <div class=" col-md-12 col-lg-12">
       <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <div class="row">
                      <img style="width: 800px; height: 128px;" mat-card-image class= "col-md-4" src="{{animal.url_imagen}}">
                      <h2 class="col-md-4">{{animal.nombre}}</h2>
                    </div>
                    <p><strong>Peso: </strong> {{animal.peso}} </p>
                    <p><strong>Tipo de Sangre: </strong> {{animal.tiposangre}} </p>
                    <p><strong>Especie: </strong> {{animal.idespecie}} </p>
                    <p><strong>Ubicación: </strong> {{animal.idubicacion}}</p>
                    <p><strong>Descripción: </strong> {{animal.descripcion}}
                    <p><strong>Sponsors: </strong>


                        <span  *ngFor= "let sponsor of sponsors" class="tags" style="margin: 8px;">{{sponsor.nombre_sponsor}} </span> 
                    </p>
                </div>             
                
            </div> 
       </div>                 
    </div>
  </div>
</div>