<div class="container wrapper">
  <div class="row">
      <!-- Tabla animalitos -->
      <div class="col-md-12">
          <div class="inner">
              <h3>Animales disponibles</h3>
              <table class="table table-bordered">
                  <thead>
                      <tr>
                          <th scope="col">#</th>
                          <th scope="col">Nombre Animal</th>
                          <th scope="col">Action</th>
                      </tr>
                  </thead>

                  <tbody>
                      <tr *ngFor="let animal of listAnimales">
                          <th scope="row">{{animal.id}}</th>
                          <td>{{animal.nombre}}</td>
                          <td>
                              <button type="button" class="btn btn-success btn-sm move-right" [routerLink]="['detalleanimal', {id: animal.id}]"> Mostrar Detalle</button>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>

  </div>
</div>