<h2> Datos Proveedor</h2>

<div class="container wrapper">
        <div class="row">
            <!-- Tabla proveedor -->
            <div class="col-md-12">
                <div class="inner">

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre </th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Id Email</th>  
                                
                            </tr>
                        </thead>
      
                        <tbody>
                            <tr>
                                    <th scope="col">{{proveedor.id}} </th>
                                    <th scope="col">{{proveedor.nombre}} </th>
                                    <th scope="col">{{proveedor.descripcion}}</th>
                                    <th scope="col">{{proveedor.idEmail}}</th>  
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
      
        </div>
      </div>
