<div class="container wrapper">
    <div class="row">
        <!-- Tabla proveedores -->
        <div class="col-md-12">
            <div class="inner">
                <h3>Proveedores disponibles</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">nombre Proveedor</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
  
                    <tbody>
                        <tr *ngFor="let proveedor of listProveedor">
                            <th scope="row">{{proveedor.idProveedor}}</th>
                            <td>{{proveedor.nombreProveedor}}</td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm move-right" [routerLink]="['detalleproveedor', {id: proveedor.idProveedor}]"> Mostrar Detalle</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
  
    </div>
  </div>