<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">




<div class="container" style="padding-top: 128px;">

<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="text-center">Proyecto de Ingeniería de Software</h4>
	<hr>
	<h4 class="card-title mt-3 text-center">Iniciar Sesión</h4>

	<p>
		<a class="btn btn-block btn-facebook" [routerLink]="['login']"> <i class="fab fa-facebook-f"></i>    Inicia Sesión </a>
	</p>
	<p class="divider-text">
        <span class="bg-light">No tienes cuenta?</span>
    </p>
	<form>
 

                                    
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" [routerLink]="['register']"> Create Account  </button>
    </div> <!-- form-group// -->      
                                                                 
</form>
</article>
</div> <!-- card.// -->

</div> 
<!--container end.//-->
