<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side " opened>
    
      <div *ngFor="let producto of productos" style="margin: 8px;">
                                  <mat-card class="example-card">
                                          <mat-card-header>
                                            <img mat-card-avatar src="{{producto.url_imagen}}">
                                            <mat-card-title>{{producto.nombre}}</mat-card-title>
                                            
                                          </mat-card-header>
                                          <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                                          
                                          <mat-card-actions>
                                            <button mat-button (click)="drawer.toggle()" routerLink="{{producto.id}}">VER DETALLES</button>
                                          </mat-card-actions>
                                        </mat-card>
                                        
                          </div>
    </mat-drawer>
  <mat-drawer-content>
    <div class="cardcontainer">
      
    <mat-card style="margin: 16px;" class="matcard">
        <router-outlet style="margin: 0; padding: 0;"></router-outlet>
          <mat-card-actions>
              <button mat-button (click)="drawer.toggle()" routerLink="../animales">
                  Cerrar
                </button>
            </mat-card-actions>
    </mat-card>
    </div>
  </mat-drawer-content>
  </mat-drawer-container>