
    <mat-card-header>
        <mat-card-title>{{producto.nombre}}</mat-card-title>
        <mat-card-subtitle>$ {{producto.precio}} </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{producto.url_imagen}}">
      <mat-card-content>
            <h6>Calificacion:</h6>
            <p>{{producto.calificacion}}</p>

            <h6>Proveedor: </h6>
            <p>{{producto.idproveedor}}</p>

            <h6>Descripcion: </h6>
            <p>{{producto.descripcion}}</p>
      </mat-card-content>
      
  
