<h2> Datos Producto</h2>

<div class="container wrapper">
        <div class="row">
            <!-- Tabla animalitos -->
            <div class="col-md-12">
                <div class="inner">

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre </th>
                                <th scope="col">Precio</th>
                                <th scope="col">Calificacion</th>  
                                <th scope="col">idProveedor</th>
                                <th scope="col">descripcion</th>
                                
                            </tr>
                        </thead>
      
                        <tbody>
                            <tr>
                                    <th scope="col">{{producto.id}} </th>
                                    <th scope="col">{{producto.nombre}} </th>
                                    <th scope="col">{{producto.precio}}</th>
                                    <th scope="col">{{producto.calificacion}}</th>  
                                    <th scope="col">{{producto.idproveedor}}</th>
                                    <th scope="col">{{producto.descripcion}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
      
        </div>
      </div>