
    <mat-card-header>
      <mat-card-title>{{animal.nombre}}</mat-card-title>
      <mat-card-subtitle>{{animal.edad}} años</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{animal.url_imagen}}">
    <mat-card-content>
            <h6>Peso: </h6>
            <p>
                {{animal.peso}} lbs.
            </p>
            <h6>Tipo de Sangre: </h6>
            <p>
                {{animal.tiposangre}}
            </p>
            <h6>Especie: </h6>
      <p>
          {{animal.idespecie}}
      </p>

            <h6>Ubicacion: </h6>
      <p>
          {{animal.idubicacion}}
      </p>

      <h6>Descripcion: </h6>
      <p>
          {{animal.descripcion}}
      </p>
    </mat-card-content>
    
